:root {
  --primary-color: theme("colors.teal.500");
  /* --secondary-color: theme("colors.white"); */
  --default-color: theme("colors.black");
  --inverse-color: theme("colors.gray.100");
  --menu-background: theme("colors.orange.300");
}

#dark-mode:checked ~ .theme {
  --primary-color: theme("colors.teal.500");
  /* --secondary-color: theme("colors.white"); */
  --default-color: theme("colors.gray.300");
  --inverse-color: theme("colors.black");
  --menu-background: theme("colors.purple.700");
}


/* label[for=dark-mode]::before {
  content: "🌚";
} */

.theme {
  @apply bg-inverse-color text-default-color;
}

.layout {
  @apply justify-center leading-normal flex flex-wrap w-full max-w-screen-xl mx-auto font-sans text-lg   antialiased min-h-screen;
}

.cover {
  @apply w-full text-center mb-12 ;
}

.cover__title {
  @apply text-4xl;
}

.menu {
  @apply flex flex-col fixed bg-inverse-color h-full text-center w-full hidden py-4 invisible opacity-0;
}

.menu ul li {
  @apply mb-4;
}

.menu ul li.active {
  @apply text-teal-500;
}

.menu__link {
  @apply border-gray-200;
}

.content {
  @apply w-full px-8 pt-4;
}

.pagination {
  @apply flex justify-between my-8 flex-wrap;
}

.tags {
  @apply flex justify-start flex-wrap;
}

.tags li,
.pagination li {
  @apply list-none m-0;
}

.tags li {
  @apply mr-3
}

@variants hover {
  .menu__link {
    @apply text-blue-600;
  }

  .pagination__link {
    @apply text-blue-600;
  }
  .dark-mode-label {
    @apply text-teal-500;
  }
}

.dark-mode-label {
  @apply align-text-top inline-block cursor-pointer fill-current text-default-color
}

#dark-mode,
#cool-menu {
  @apply fixed transform scale-0 ;
}

#cool-menu + label > svg {
  @apply transition ease-in-out duration-500;
}

#cool-menu:checked + label > svg {
  @apply text-teal-500 transform rotate-180 transition ease-in-out duration-500;
}

#cool-menu:checked ~ .menu {
  @apply flex justify-center items-center visible opacity-100;
}

.cool-menu {
  @apply fill-current text-default-color;
}

.cool-menu__label {
  @apply left-1/2 fixed transform -translate-x-1/2  bottom-0 z-50 mb-4;
}

@screen lg {
  .menu {
    @apply w-full flex flex-row justify-between relative visible opacity-100 text-left bg-menu-bg-color;
  }
  .menu ul {
    @apply flex flex-wrap px-8;
  }

  .menu ul li {
    @apply pr-8 my-2;
  }

  .content {
    @apply w-3/4;
  }

  .cool-menu {
    @apply hidden;
  }

  .dark-mode-label {
    @apply pr-8 self-center
  }
}
